.outer-div {
	border: 1px solid gray;
	display: flex;
	flex-direction: column;
	max-width: 400px;
	margin-top: 250px;
}

.bottom-bar {
	display: flex;
	flex-direction: row;
}

.bottom-item {
	max-width: 70px;
	border: 1px solid rgb(119, 39, 39);
}

table, th, td {
	border: 1px solid;
	border-color: thistle;
	border-width: 5px;
	border-style: double;
}

.div-wrapper {
	border: 1px solid black;
}

